@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Montserrat:wght@500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
   width: 100vw; 
   height: 100vh;
   background-image: url('../img/Untitled.png');
   background-position: top center;
   background-size: cover;
   background-repeat: no-repeat;
   color: #fff;
   margin: 0;
}
.large-header {
    position: absolute;
    z-index: 0;
    display: inline-block;
}
#demo-canvas {
    z-index: 2;
}
h1::selection,strong::selection,span::selection{
    color: #fff;
    background: #FF8500;
}
p::selection {
    color: #FF8500;
    background: #fff;
}

.container{
    position: relative;
    z-index: 99;
    /* width: 590px; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* padding-left: 34px; */
    padding-top: 30px;
}
.container header{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 375px;
    padding-left: 34px;

}
.lang{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding-left: 34px;

}
.lang span{   
     width: 2px;
     height: 20px;
     color: #fff;
     background-color: #fff;
     margin: 0 8px;
}
.lang button{
    border: none;
    background-color: transparent;
    
    font-weight:400 ;
    font-size: 1.297rem;
}
.lang .active{
    color: #fff;
}
.lang .de-active{
    color: rgb(127, 125, 125);
}
.container header .logo img{
    width: 92px;
    height: 24px;
}
.wrapper{
    margin-left: 34px;
    padding-top: 64px;
    font-family: 'Montserrat', sans-serif;
}
.wrapper section .title{
    color:rgba(255, 133, 0, 1);
    font-size: 2.5rem;
}
.wrapper section p{
    padding-top: 19px;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 150.9%;
}
.wrapper section .p1 strong{
    font-weight: 700;
}
.wrapper section .p2 span{
    color:rgba(255, 133, 0, 1);
    font-weight: 700;
}
.wrapper .subscribe{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
}
.wrapper .subscribe .form_title{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 150.9%;
    padding-bottom:10px;
}
.wrapper .subscribe form{
    display:flex;
    justify-content:center;
    align-items:center;
}
.wrapper .subscribe form .input{
    width: 377px;
    height:40px;
    background: rgba(255, 255, 255, 0.24);
    border-radius:7px;
    border:none;
    color: #FF8500;
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 7px;
}
.wrapper .subscribe form .input::placeholder{
    color:#fff;
    font-size: 0.7rem;
    font-weight: lighter;
    padding-left:7px;
}
.wrapper .subscribe form .btn{
    background: #FF8500;
    font-size: 1.25rem;
    border-radius: 7px;
    color:#fff;
    border:none;
    width:130px;
    height:40px;
    margin-left:-10px;
    padding:8px ;
    font-weight: 700;
}

.counter{
    font-weight: 700;
    font-size: 1.25rem;
    padding-top: 38px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    column-gap:32px;
}
.counter .block{
    text-align:center;
}
footer{
    padding-top: 39px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    column-gap: 60px;
    margin-left: 34px;

}
footer p{
    font-weight: 300;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 1);
}
footer .socialIcons ul{
    display: flex;
    justify-content:center;
    align-items:center;
    list-style-type: none;
    column-gap:6px;
}
footer .socialIcons ul li img{
    width:22px;
    height:22px;
}
footer .socialIcons ul li img::selection{
    background-color: #FF8500;
    color: #FF8500;
}

/* arabic */
.wrapper_AR{
    font-family: 'Tajawal', sans-serif;
    margin-left: 42px;
}
.wrapper_AR {
    text-align: right;
}
.wrapper_AR .subscribe form{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    padding-left: 10px;
}
.wrapper_AR .subscribe form .input{
    width: 400px;
    height:40px;
    background: rgba(255, 255, 255, 0.24);
    border-radius:7px;
    border:none;
    color: #FF8500;
    font-size: 0.8rem;
    font-weight: 400;
}
.wrapper_AR .subscribe form .input::placeholder{
    color:#fff;
    font-size: 0.7rem;
    font-weight: lighter;
    padding-right:7px;
    text-align: right;
    
}
.wrapper_AR .subscribe form .btn{
    background: #FF8500;
    font-size: 1.25rem;
    border-radius: 7px;
    color:#fff;
    border:none;
    width:130px;
    height:40px;
    padding:8px ;
    margin-right: -7px;
    font-weight: 700;
    z-index: 2;
}
.wrapper_AR .counter{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    padding-top: 38px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    column-gap:37px;
}
.wrapper_AR .counter .block{
    text-align:center;
    font-weight: 700;

}